body{
    margin: 0;
    overflow: hidden;
}
.wrap{
    width: 100%;
    max-height: 100vh;

}
.block_A, .block_B, .block_C, .block_D, .block_E, .block_F {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: silver;
}
.block_A{
    height: 30vh;
}
.block_B{
    height: 30vh;
}
.block_C{
    width: 33.333%;
    height: 100%;
}
.block_D{
    width: 33.333%;
    height: 100%;
}
.block_E{
    width: 33.333%;
    height: 100%;
}
.block_F{
    width: 30%;
    height: 60vh;
}
.blocks_BCDEF{
    display: flex;
}
.blocks_BCDE{
    width: 70%;
}
.blocks_CDE{
    display: flex;
    justify-content: space-between;
    height: 50%;
}
